Code/RentApartment.Web/RentAppartment.Client/Service References/RApmentAdminService/RApmentAdministration3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/RentApartment.Service.DataContract.Response" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/RentApartment.Service.DataContract.Response" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:61870/RApmentAdministration.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/RentApartment.Service.DataContract.Entities" />
  <xs:import schemaLocation="http://localhost:61870/RApmentAdministration.svc?xsd=xsd5" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:complexType name="AuthenticationResponse">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="AccountProfile" nillable="true" type="tns:AccountDto" />
          <xs:element minOccurs="0" name="AuthenticationResult" type="xs:boolean" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="AuthenticationResponse" nillable="true" type="tns:AuthenticationResponse" />
  <xs:complexType name="BaseResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="ErrorDesc" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ErrorId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BaseResponse" nillable="true" type="tns:BaseResponse" />
  <xs:complexType name="AccountDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="AccountId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Address" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Birthday" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="City" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Country" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FirstName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Gender" nillable="true" type="xs:unsignedByte" />
      <xs:element minOccurs="0" name="GenderName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsEmailConfirmed" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsValidated" type="xs:boolean" />
      <xs:element minOccurs="0" name="Language" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="LastName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Login" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Mobile" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PasswordHash" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PictureUrl" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PostalCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Roles" type="xs:unsignedByte" />
      <xs:element minOccurs="0" name="RolesName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AccountDto" nillable="true" type="tns:AccountDto" />
  <xs:complexType name="GetPropertyListingResponse">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseResponse">
        <xs:sequence>
          <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/RentApartment.Service.DataContract.Entities" minOccurs="0" name="PropertListing" nillable="true" type="q1:ArrayOfPropertyDto" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="GetPropertyListingResponse" nillable="true" type="tns:GetPropertyListingResponse" />
  <xs:complexType name="GetReservationsResponse">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="Reservation" nillable="true" type="tns:ArrayOfReservationDto" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="GetReservationsResponse" nillable="true" type="tns:GetReservationsResponse" />
  <xs:complexType name="ArrayOfReservationDto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ReservationDto" nillable="true" type="tns:ReservationDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfReservationDto" nillable="true" type="tns:ArrayOfReservationDto" />
  <xs:complexType name="ReservationDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="AccountId" type="xs:int" />
      <xs:element minOccurs="0" name="Currency" type="xs:int" />
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/RentApartment.Service.DataContract.Entities" minOccurs="0" name="PropertyListing" nillable="true" type="q2:PropertyDto" />
      <xs:element minOccurs="0" name="PropertyListingId" type="xs:int" />
      <xs:element minOccurs="0" name="ReservationEnd" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ReservationId" type="xs:int" />
      <xs:element minOccurs="0" name="ReservationNote" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ReservationStart" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ReservationStatus" type="xs:int" />
      <xs:element minOccurs="0" name="ReservationStatusName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StayingDays" type="xs:int" />
      <xs:element minOccurs="0" name="TotalPrice" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ReservationDto" nillable="true" type="tns:ReservationDto" />
  <xs:complexType name="GetAccountsResponse">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="Accounts" nillable="true" type="tns:ArrayOfAccountDto" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="GetAccountsResponse" nillable="true" type="tns:GetAccountsResponse" />
  <xs:complexType name="ArrayOfAccountDto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="AccountDto" nillable="true" type="tns:AccountDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAccountDto" nillable="true" type="tns:ArrayOfAccountDto" />
  <xs:complexType name="GetDictionaryDataResponse">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseResponse">
        <xs:sequence>
          <xs:element xmlns:q3="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Data" nillable="true" type="q3:ArrayOfKeyValueOfintstring" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="GetDictionaryDataResponse" nillable="true" type="tns:GetDictionaryDataResponse" />
  <xs:complexType name="AmenitiesResponse">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseResponse">
        <xs:sequence>
          <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/RentApartment.Service.DataContract.Entities" minOccurs="0" name="Amenities" nillable="true" type="q4:ArrayOfAmenityDto" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="AmenitiesResponse" nillable="true" type="tns:AmenitiesResponse" />
  <xs:complexType name="GetApartmentReservationsResponse">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseResponse">
        <xs:sequence>
          <xs:element xmlns:q5="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="BlackOutDates" nillable="true" type="q5:ArrayOfdateTime" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="GetApartmentReservationsResponse" nillable="true" type="tns:GetApartmentReservationsResponse" />
</xs:schema>