Code/RentApartment.Web/RentAppartment.Client/Service References/RApmentAdminService/RApmentAdministration.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="RApmentAdministration" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:61870/RApmentAdministration.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:61870/RApmentAdministration.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:61870/RApmentAdministration.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/RentApartment.Service.DataContract.Request" />
      <xsd:import schemaLocation="http://localhost:61870/RApmentAdministration.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/RentApartment.Service.DataContract.Response" />
      <xsd:import schemaLocation="http://localhost:61870/RApmentAdministration.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/RentApartment.Service.DataContract.Entities" />
      <xsd:import schemaLocation="http://localhost:61870/RApmentAdministration.svc?xsd=xsd5" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IRApmentAdministration_Authenticate_InputMessage">
    <wsdl:part name="parameters" element="tns:Authenticate" />
  </wsdl:message>
  <wsdl:message name="IRApmentAdministration_Authenticate_OutputMessage">
    <wsdl:part name="parameters" element="tns:AuthenticateResponse" />
  </wsdl:message>
  <wsdl:message name="IRApmentAdministration_GetPropertyListing_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPropertyListing" />
  </wsdl:message>
  <wsdl:message name="IRApmentAdministration_GetPropertyListing_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPropertyListingResponse" />
  </wsdl:message>
  <wsdl:message name="IRApmentAdministration_GetReservations_InputMessage">
    <wsdl:part name="parameters" element="tns:GetReservations" />
  </wsdl:message>
  <wsdl:message name="IRApmentAdministration_GetReservations_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetReservationsResponse" />
  </wsdl:message>
  <wsdl:message name="IRApmentAdministration_GetAccounts_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAccounts" />
  </wsdl:message>
  <wsdl:message name="IRApmentAdministration_GetAccounts_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAccountsResponse" />
  </wsdl:message>
  <wsdl:message name="IRApmentAdministration_CreateAccount_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateAccount" />
  </wsdl:message>
  <wsdl:message name="IRApmentAdministration_CreateAccount_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateAccountResponse" />
  </wsdl:message>
  <wsdl:message name="IRApmentAdministration_UpdateAccount_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateAccount" />
  </wsdl:message>
  <wsdl:message name="IRApmentAdministration_UpdateAccount_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateAccountResponse" />
  </wsdl:message>
  <wsdl:message name="IRApmentAdministration_RemoveAccount_InputMessage">
    <wsdl:part name="parameters" element="tns:RemoveAccount" />
  </wsdl:message>
  <wsdl:message name="IRApmentAdministration_RemoveAccount_OutputMessage">
    <wsdl:part name="parameters" element="tns:RemoveAccountResponse" />
  </wsdl:message>
  <wsdl:message name="IRApmentAdministration_GetHomeType_InputMessage">
    <wsdl:part name="parameters" element="tns:GetHomeType" />
  </wsdl:message>
  <wsdl:message name="IRApmentAdministration_GetHomeType_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetHomeTypeResponse" />
  </wsdl:message>
  <wsdl:message name="IRApmentAdministration_GetRoomType_InputMessage">
    <wsdl:part name="parameters" element="tns:GetRoomType" />
  </wsdl:message>
  <wsdl:message name="IRApmentAdministration_GetRoomType_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetRoomTypeResponse" />
  </wsdl:message>
  <wsdl:message name="IRApmentAdministration_GetUserRole_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUserRole" />
  </wsdl:message>
  <wsdl:message name="IRApmentAdministration_GetUserRole_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUserRoleResponse" />
  </wsdl:message>
  <wsdl:message name="IRApmentAdministration_GetGender_InputMessage">
    <wsdl:part name="parameters" element="tns:GetGender" />
  </wsdl:message>
  <wsdl:message name="IRApmentAdministration_GetGender_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetGenderResponse" />
  </wsdl:message>
  <wsdl:message name="IRApmentAdministration_GetAmenities_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAmenities" />
  </wsdl:message>
  <wsdl:message name="IRApmentAdministration_GetAmenities_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAmenitiesResponse" />
  </wsdl:message>
  <wsdl:message name="IRApmentAdministration_GetApartmentReservation_InputMessage">
    <wsdl:part name="parameters" element="tns:GetApartmentReservation" />
  </wsdl:message>
  <wsdl:message name="IRApmentAdministration_GetApartmentReservation_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetApartmentReservationResponse" />
  </wsdl:message>
  <wsdl:message name="IRApmentAdministration_MakeApartmentReservation_InputMessage">
    <wsdl:part name="parameters" element="tns:MakeApartmentReservation" />
  </wsdl:message>
  <wsdl:message name="IRApmentAdministration_MakeApartmentReservation_OutputMessage">
    <wsdl:part name="parameters" element="tns:MakeApartmentReservationResponse" />
  </wsdl:message>
  <wsdl:message name="IRApmentAdministration_CreateProperty_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateProperty" />
  </wsdl:message>
  <wsdl:message name="IRApmentAdministration_CreateProperty_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreatePropertyResponse" />
  </wsdl:message>
  <wsdl:message name="IRApmentAdministration_UpdateProperty_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateProperty" />
  </wsdl:message>
  <wsdl:message name="IRApmentAdministration_UpdateProperty_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdatePropertyResponse" />
  </wsdl:message>
  <wsdl:message name="IRApmentAdministration_RemoveProperty_InputMessage">
    <wsdl:part name="parameters" element="tns:RemoveProperty" />
  </wsdl:message>
  <wsdl:message name="IRApmentAdministration_RemoveProperty_OutputMessage">
    <wsdl:part name="parameters" element="tns:RemovePropertyResponse" />
  </wsdl:message>
  <wsdl:message name="IRApmentAdministration_GetBookedPropertyByAccount_InputMessage">
    <wsdl:part name="parameters" element="tns:GetBookedPropertyByAccount" />
  </wsdl:message>
  <wsdl:message name="IRApmentAdministration_GetBookedPropertyByAccount_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetBookedPropertyByAccountResponse" />
  </wsdl:message>
  <wsdl:message name="IRApmentAdministration_GetPropertyByAccount_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPropertyByAccount" />
  </wsdl:message>
  <wsdl:message name="IRApmentAdministration_GetPropertyByAccount_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPropertyByAccountResponse" />
  </wsdl:message>
  <wsdl:portType name="IRApmentAdministration">
    <wsdl:operation name="Authenticate">
      <wsdl:input wsaw:Action="http://tempuri.org/IRApmentAdministration/Authenticate" message="tns:IRApmentAdministration_Authenticate_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRApmentAdministration/AuthenticateResponse" message="tns:IRApmentAdministration_Authenticate_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPropertyListing">
      <wsdl:input wsaw:Action="http://tempuri.org/IRApmentAdministration/GetPropertyListing" message="tns:IRApmentAdministration_GetPropertyListing_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRApmentAdministration/GetPropertyListingResponse" message="tns:IRApmentAdministration_GetPropertyListing_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetReservations">
      <wsdl:input wsaw:Action="http://tempuri.org/IRApmentAdministration/GetReservations" message="tns:IRApmentAdministration_GetReservations_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRApmentAdministration/GetReservationsResponse" message="tns:IRApmentAdministration_GetReservations_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAccounts">
      <wsdl:input wsaw:Action="http://tempuri.org/IRApmentAdministration/GetAccounts" message="tns:IRApmentAdministration_GetAccounts_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRApmentAdministration/GetAccountsResponse" message="tns:IRApmentAdministration_GetAccounts_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateAccount">
      <wsdl:input wsaw:Action="http://tempuri.org/IRApmentAdministration/CreateAccount" message="tns:IRApmentAdministration_CreateAccount_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRApmentAdministration/CreateAccountResponse" message="tns:IRApmentAdministration_CreateAccount_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateAccount">
      <wsdl:input wsaw:Action="http://tempuri.org/IRApmentAdministration/UpdateAccount" message="tns:IRApmentAdministration_UpdateAccount_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRApmentAdministration/UpdateAccountResponse" message="tns:IRApmentAdministration_UpdateAccount_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RemoveAccount">
      <wsdl:input wsaw:Action="http://tempuri.org/IRApmentAdministration/RemoveAccount" message="tns:IRApmentAdministration_RemoveAccount_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRApmentAdministration/RemoveAccountResponse" message="tns:IRApmentAdministration_RemoveAccount_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetHomeType">
      <wsdl:input wsaw:Action="http://tempuri.org/IRApmentAdministration/GetHomeType" message="tns:IRApmentAdministration_GetHomeType_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRApmentAdministration/GetHomeTypeResponse" message="tns:IRApmentAdministration_GetHomeType_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetRoomType">
      <wsdl:input wsaw:Action="http://tempuri.org/IRApmentAdministration/GetRoomType" message="tns:IRApmentAdministration_GetRoomType_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRApmentAdministration/GetRoomTypeResponse" message="tns:IRApmentAdministration_GetRoomType_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetUserRole">
      <wsdl:input wsaw:Action="http://tempuri.org/IRApmentAdministration/GetUserRole" message="tns:IRApmentAdministration_GetUserRole_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRApmentAdministration/GetUserRoleResponse" message="tns:IRApmentAdministration_GetUserRole_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetGender">
      <wsdl:input wsaw:Action="http://tempuri.org/IRApmentAdministration/GetGender" message="tns:IRApmentAdministration_GetGender_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRApmentAdministration/GetGenderResponse" message="tns:IRApmentAdministration_GetGender_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAmenities">
      <wsdl:input wsaw:Action="http://tempuri.org/IRApmentAdministration/GetAmenities" message="tns:IRApmentAdministration_GetAmenities_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRApmentAdministration/GetAmenitiesResponse" message="tns:IRApmentAdministration_GetAmenities_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetApartmentReservation">
      <wsdl:input wsaw:Action="http://tempuri.org/IRApmentAdministration/GetApartmentReservation" message="tns:IRApmentAdministration_GetApartmentReservation_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRApmentAdministration/GetApartmentReservationResponse" message="tns:IRApmentAdministration_GetApartmentReservation_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="MakeApartmentReservation">
      <wsdl:input wsaw:Action="http://tempuri.org/IRApmentAdministration/MakeApartmentReservation" message="tns:IRApmentAdministration_MakeApartmentReservation_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRApmentAdministration/MakeApartmentReservationResponse" message="tns:IRApmentAdministration_MakeApartmentReservation_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateProperty">
      <wsdl:input wsaw:Action="http://tempuri.org/IRApmentAdministration/CreateProperty" message="tns:IRApmentAdministration_CreateProperty_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRApmentAdministration/CreatePropertyResponse" message="tns:IRApmentAdministration_CreateProperty_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateProperty">
      <wsdl:input wsaw:Action="http://tempuri.org/IRApmentAdministration/UpdateProperty" message="tns:IRApmentAdministration_UpdateProperty_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRApmentAdministration/UpdatePropertyResponse" message="tns:IRApmentAdministration_UpdateProperty_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RemoveProperty">
      <wsdl:input wsaw:Action="http://tempuri.org/IRApmentAdministration/RemoveProperty" message="tns:IRApmentAdministration_RemoveProperty_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRApmentAdministration/RemovePropertyResponse" message="tns:IRApmentAdministration_RemoveProperty_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetBookedPropertyByAccount">
      <wsdl:input wsaw:Action="http://tempuri.org/IRApmentAdministration/GetBookedPropertyByAccount" message="tns:IRApmentAdministration_GetBookedPropertyByAccount_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRApmentAdministration/GetBookedPropertyByAccountResponse" message="tns:IRApmentAdministration_GetBookedPropertyByAccount_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPropertyByAccount">
      <wsdl:input wsaw:Action="http://tempuri.org/IRApmentAdministration/GetPropertyByAccount" message="tns:IRApmentAdministration_GetPropertyByAccount_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRApmentAdministration/GetPropertyByAccountResponse" message="tns:IRApmentAdministration_GetPropertyByAccount_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IRApmentAdministration" type="tns:IRApmentAdministration">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Authenticate">
      <soap:operation soapAction="http://tempuri.org/IRApmentAdministration/Authenticate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPropertyListing">
      <soap:operation soapAction="http://tempuri.org/IRApmentAdministration/GetPropertyListing" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetReservations">
      <soap:operation soapAction="http://tempuri.org/IRApmentAdministration/GetReservations" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAccounts">
      <soap:operation soapAction="http://tempuri.org/IRApmentAdministration/GetAccounts" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateAccount">
      <soap:operation soapAction="http://tempuri.org/IRApmentAdministration/CreateAccount" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateAccount">
      <soap:operation soapAction="http://tempuri.org/IRApmentAdministration/UpdateAccount" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RemoveAccount">
      <soap:operation soapAction="http://tempuri.org/IRApmentAdministration/RemoveAccount" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetHomeType">
      <soap:operation soapAction="http://tempuri.org/IRApmentAdministration/GetHomeType" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRoomType">
      <soap:operation soapAction="http://tempuri.org/IRApmentAdministration/GetRoomType" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserRole">
      <soap:operation soapAction="http://tempuri.org/IRApmentAdministration/GetUserRole" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetGender">
      <soap:operation soapAction="http://tempuri.org/IRApmentAdministration/GetGender" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAmenities">
      <soap:operation soapAction="http://tempuri.org/IRApmentAdministration/GetAmenities" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetApartmentReservation">
      <soap:operation soapAction="http://tempuri.org/IRApmentAdministration/GetApartmentReservation" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MakeApartmentReservation">
      <soap:operation soapAction="http://tempuri.org/IRApmentAdministration/MakeApartmentReservation" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateProperty">
      <soap:operation soapAction="http://tempuri.org/IRApmentAdministration/CreateProperty" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateProperty">
      <soap:operation soapAction="http://tempuri.org/IRApmentAdministration/UpdateProperty" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RemoveProperty">
      <soap:operation soapAction="http://tempuri.org/IRApmentAdministration/RemoveProperty" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetBookedPropertyByAccount">
      <soap:operation soapAction="http://tempuri.org/IRApmentAdministration/GetBookedPropertyByAccount" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPropertyByAccount">
      <soap:operation soapAction="http://tempuri.org/IRApmentAdministration/GetPropertyByAccount" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="RApmentAdministration">
    <wsdl:port name="BasicHttpBinding_IRApmentAdministration" binding="tns:BasicHttpBinding_IRApmentAdministration">
      <soap:address location="http://localhost:61870/RApmentAdministration.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>