Code/RentApartment.Web/RentAppartment.Client/Service References/RApmentAdminService/RApmentAdministration3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/RentApartment.Service.DataContract.Response" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/RentApartment.Service.DataContract.Response" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:61870/RApmentAdministration.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/RentApartment.Service.DataContract.Entities" />
  <xs:complexType name="GetPropertyListingResponse">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseResponse">
        <xs:sequence>
          <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/RentApartment.Service.DataContract.Entities" minOccurs="0" name="PropertListing" nillable="true" type="q1:ArrayOfPropertyDto" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="GetPropertyListingResponse" nillable="true" type="tns:GetPropertyListingResponse" />
  <xs:complexType name="BaseResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="ErrorDesc" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ErrorId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BaseResponse" nillable="true" type="tns:BaseResponse" />
  <xs:complexType name="AccountDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="AccountId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Address" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="City" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Country" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FirstName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Gender" nillable="true" type="xs:unsignedByte" />
      <xs:element minOccurs="0" name="ImageSourceId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsEmailConfirmed" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsValidated" type="xs:boolean" />
      <xs:element minOccurs="0" name="Language" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="LastName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Mobile" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PostalCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Roles" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AccountDto" nillable="true" type="tns:AccountDto" />
  <xs:complexType name="GetReservationsResponse">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="Reservation" nillable="true" type="tns:ArrayOfReservationDto" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="GetReservationsResponse" nillable="true" type="tns:GetReservationsResponse" />
  <xs:complexType name="ArrayOfReservationDto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ReservationDto" nillable="true" type="tns:ReservationDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfReservationDto" nillable="true" type="tns:ArrayOfReservationDto" />
  <xs:complexType name="ReservationDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="AccountId" type="xs:int" />
      <xs:element minOccurs="0" name="Currency" type="xs:int" />
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/RentApartment.Service.DataContract.Entities" minOccurs="0" name="PropertyItem" nillable="true" type="q2:PropertyDto" />
      <xs:element minOccurs="0" name="PropertyListingId" type="xs:int" />
      <xs:element minOccurs="0" name="ReservationEnd" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ReservationId" type="xs:int" />
      <xs:element minOccurs="0" name="ReservationNote" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ReservationStart" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ReservationStatus" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ReservationDto" nillable="true" type="tns:ReservationDto" />
</xs:schema>