Code/RentApartment.Web/RentAppartment.Client/Service References/RApmentAdminService/RApmentAdministration.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="RApmentAdministration" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:61870/RApmentAdministration.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:61870/RApmentAdministration.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:61870/RApmentAdministration.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/RentApartment.Service.DataContract.Request" />
      <xsd:import schemaLocation="http://localhost:61870/RApmentAdministration.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/RentApartment.Service.DataContract.Response" />
      <xsd:import schemaLocation="http://localhost:61870/RApmentAdministration.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/RentApartment.Service.DataContract.Entities" />
      <xsd:import schemaLocation="http://localhost:61870/RApmentAdministration.svc?xsd=xsd5" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IRApmentAdministration_GetPropertyListing_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPropertyListing" />
  </wsdl:message>
  <wsdl:message name="IRApmentAdministration_GetPropertyListing_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPropertyListingResponse" />
  </wsdl:message>
  <wsdl:message name="IRApmentAdministration_GetReservations_InputMessage">
    <wsdl:part name="parameters" element="tns:GetReservations" />
  </wsdl:message>
  <wsdl:message name="IRApmentAdministration_GetReservations_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetReservationsResponse" />
  </wsdl:message>
  <wsdl:message name="IRApmentAdministration_GetAccounts_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAccounts" />
  </wsdl:message>
  <wsdl:message name="IRApmentAdministration_GetAccounts_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAccountsResponse" />
  </wsdl:message>
  <wsdl:message name="IRApmentAdministration_GetHomeType_InputMessage">
    <wsdl:part name="parameters" element="tns:GetHomeType" />
  </wsdl:message>
  <wsdl:message name="IRApmentAdministration_GetHomeType_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetHomeTypeResponse" />
  </wsdl:message>
  <wsdl:message name="IRApmentAdministration_GetRoomType_InputMessage">
    <wsdl:part name="parameters" element="tns:GetRoomType" />
  </wsdl:message>
  <wsdl:message name="IRApmentAdministration_GetRoomType_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetRoomTypeResponse" />
  </wsdl:message>
  <wsdl:message name="IRApmentAdministration_GetUserRole_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUserRole" />
  </wsdl:message>
  <wsdl:message name="IRApmentAdministration_GetUserRole_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUserRoleResponse" />
  </wsdl:message>
  <wsdl:portType name="IRApmentAdministration">
    <wsdl:operation name="GetPropertyListing">
      <wsdl:input wsaw:Action="http://tempuri.org/IRApmentAdministration/GetPropertyListing" message="tns:IRApmentAdministration_GetPropertyListing_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRApmentAdministration/GetPropertyListingResponse" message="tns:IRApmentAdministration_GetPropertyListing_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetReservations">
      <wsdl:input wsaw:Action="http://tempuri.org/IRApmentAdministration/GetReservations" message="tns:IRApmentAdministration_GetReservations_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRApmentAdministration/GetReservationsResponse" message="tns:IRApmentAdministration_GetReservations_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAccounts">
      <wsdl:input wsaw:Action="http://tempuri.org/IRApmentAdministration/GetAccounts" message="tns:IRApmentAdministration_GetAccounts_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRApmentAdministration/GetAccountsResponse" message="tns:IRApmentAdministration_GetAccounts_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetHomeType">
      <wsdl:input wsaw:Action="http://tempuri.org/IRApmentAdministration/GetHomeType" message="tns:IRApmentAdministration_GetHomeType_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRApmentAdministration/GetHomeTypeResponse" message="tns:IRApmentAdministration_GetHomeType_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetRoomType">
      <wsdl:input wsaw:Action="http://tempuri.org/IRApmentAdministration/GetRoomType" message="tns:IRApmentAdministration_GetRoomType_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRApmentAdministration/GetRoomTypeResponse" message="tns:IRApmentAdministration_GetRoomType_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetUserRole">
      <wsdl:input wsaw:Action="http://tempuri.org/IRApmentAdministration/GetUserRole" message="tns:IRApmentAdministration_GetUserRole_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRApmentAdministration/GetUserRoleResponse" message="tns:IRApmentAdministration_GetUserRole_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IRApmentAdministration" type="tns:IRApmentAdministration">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetPropertyListing">
      <soap:operation soapAction="http://tempuri.org/IRApmentAdministration/GetPropertyListing" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetReservations">
      <soap:operation soapAction="http://tempuri.org/IRApmentAdministration/GetReservations" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAccounts">
      <soap:operation soapAction="http://tempuri.org/IRApmentAdministration/GetAccounts" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetHomeType">
      <soap:operation soapAction="http://tempuri.org/IRApmentAdministration/GetHomeType" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRoomType">
      <soap:operation soapAction="http://tempuri.org/IRApmentAdministration/GetRoomType" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserRole">
      <soap:operation soapAction="http://tempuri.org/IRApmentAdministration/GetUserRole" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="RApmentAdministration">
    <wsdl:port name="BasicHttpBinding_IRApmentAdministration" binding="tns:BasicHttpBinding_IRApmentAdministration">
      <soap:address location="http://localhost:61870/RApmentAdministration.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>