Code/RentApartment.Web/LabWPF/Service References/AccountService/Accounts1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/RentApartment.Service.DataContract.Request" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/RentApartment.Service.DataContract.Request" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="AuthenticationRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="Login" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AuthenticationRequest" nillable="true" type="tns:AuthenticationRequest" />
  <xs:complexType name="GetAccountProfileRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="AccountId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GetAccountProfileRequest" nillable="true" type="tns:GetAccountProfileRequest" />
</xs:schema>