Code/RentApartment.Web/LabWPF/Service References/AccountService/Accounts.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Accounts" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:61870/Accounts.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:61870/Accounts.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:61870/Accounts.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/RentApartment.Service.DataContract.Request" />
      <xsd:import schemaLocation="http://localhost:61870/Accounts.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/RentApartment.Service.DataContract.Response" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IAccounts_Authenticate_InputMessage">
    <wsdl:part name="parameters" element="tns:Authenticate" />
  </wsdl:message>
  <wsdl:message name="IAccounts_Authenticate_OutputMessage">
    <wsdl:part name="parameters" element="tns:AuthenticateResponse" />
  </wsdl:message>
  <wsdl:message name="IAccounts_GetAccountPropfile_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAccountPropfile" />
  </wsdl:message>
  <wsdl:message name="IAccounts_GetAccountPropfile_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAccountPropfileResponse" />
  </wsdl:message>
  <wsdl:portType name="IAccounts">
    <wsdl:operation name="Authenticate">
      <wsdl:input wsaw:Action="http://tempuri.org/IAccounts/Authenticate" message="tns:IAccounts_Authenticate_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAccounts/AuthenticateResponse" message="tns:IAccounts_Authenticate_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAccountPropfile">
      <wsdl:input wsaw:Action="http://tempuri.org/IAccounts/GetAccountPropfile" message="tns:IAccounts_GetAccountPropfile_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAccounts/GetAccountPropfileResponse" message="tns:IAccounts_GetAccountPropfile_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IAccounts" type="tns:IAccounts">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Authenticate">
      <soap:operation soapAction="http://tempuri.org/IAccounts/Authenticate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAccountPropfile">
      <soap:operation soapAction="http://tempuri.org/IAccounts/GetAccountPropfile" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Accounts">
    <wsdl:port name="BasicHttpBinding_IAccounts" binding="tns:BasicHttpBinding_IAccounts">
      <soap:address location="http://localhost:61870/Accounts.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>