Code/RentApartment.Web/LabWPF/Service References/RApmentAdministrationService/RApmentAdministration2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/RentApartment.Service.DataContract.Request" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/RentApartment.Service.DataContract.Request" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="GetPropertiesRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="AccountId" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="City" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Country" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GetPropertiesRequest" nillable="true" type="tns:GetPropertiesRequest" />
  <xs:complexType name="GetReservationsRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="ReservationEnd" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ReservationStart" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ReservationStatus" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GetReservationsRequest" nillable="true" type="tns:GetReservationsRequest" />
</xs:schema>